@media(max-width:1278px){
    .container{
        width: 100%;
    }

    .content_left{
        width: 100%;
    }
    .content_right{
        width: 50%;
    }

    .form{
        padding: 0;
        margin: 0;
    }

    .contact{
        width: 100%;
    }

    

}

@media(max-width:959px){
    .container{
        width: 100%;
    }
    
}

@media(max-width:768px){
    .container{
        width: 100%;
    }

}

@media screen and (min-width: 480px){
    .container{
        width: 100%;
    }
    
}
